@page {
  size: A4 landscape;
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.page {
  position: relative;
  width: 297mm;
  height: 210mm;
  background: white;
  overflow: hidden;

  page-break-after: always;
  break-after: page;
}

.page:last-child {
  page-break-after: auto;
  break-after: auto;
}

.card-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: grid;
  grid-template-columns: repeat(5, 57mm);
  grid-template-rows: repeat(2, 89mm);
  gap: 0;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

.card {
  width: 57mm;
  height: 89mm;
  border: 1px solid black;
  box-sizing: border-box;
  padding: 15px;
  text-align: center;
}

.card p {
  margin-bottom: 5px;
}

.card h3 {
  margin-bottom: 15px;
}

.card h4 {
  margin-bottom: 10px;
}
