@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500;600;700&family=EB+Garamond:ital,wght@0,400;0,500;0,600;1,400&display=swap");

@page {
  size: A4 landscape;
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.page {
  width: 297mm;
  height: 210mm;
  background: white;

  display: grid;
  place-items: center;

  page-break-after: always;
  break-after: page;
}

.page:last-child {
  page-break-after: auto;
  break-after: auto;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(5, 57mm);
  grid-template-rows: repeat(2, 89mm);
  gap: 0;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}
